/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Balthazar|Varela');

html {
	overflow-y: scroll;
}
#leftcol {
	width: 200px;
}

#centercol {
	width: 100%;
	margin-left: 200px;
	position: relative;
	//font-family: 'Varela';
	.navbar {
		width: inherit;
		nav {
			width: inherit;
			.nav-wrapper {
				width: inherit;
			}
		}
	}
}
ul {
	li {
		a.active {
			@extend .palette-dark-1, .text-glow-light-1;
		}
	}
}

#rightcol {
	width: 300px;
	.avatar {
		border-radius: 50%;
		width: 40px;
		height: auto;
		max-height: 40px;
		padding: 0;
	}
	#dice-results-wrapper {
		overflow: hidden;
		width: 100%;
		height: 35px;
	}
	#dice-results {
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		width: 100%;
		//height: 35px;
		//height: 40px;
	}
	.dice-button {
		height: 25px;
		width: auto;
	}
}





.nomargin {
	margin: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.nopadding {
	padding: 0 !important;
	padding-left: 0 !important;
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
}
.template {
	display: none !important;
}
.noselect {
	user-select: none;
}
.noresize {
    resize: none;
}
.nooutline {
	&:focus {
    	outline: none;
	}
}

.brand-logo {
	width: 175px;
	height: 100%;
	position: relative;
	overflow: hidden;
	pointer-events: none;
	z-index: 0 !important;
	img {
		width: 100%;
		height: auto;
		filter: brightness(180%) blur(0px);
		position: absolute;
		top: -115%;
		left: 0%;
	}
}
.nav-wrapper {
	position: relative;
	//overflow: hidden;
	* {
		z-index: 10;
	}
}
.dropdown-content {
	li:hover {
		background-color: rgba(255,255,255,.1) !important;
	}
}
.bluefire {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 0;
	//background-size: 450% auto;
	//background-position: center -34%;
	background-position: center center;
	//filter: blur(0px) brightness(50%) contrast(80%) saturate(90%);
	//overflow: hidden;
}

.d20logo { 
	width: 50px; 
	height: 50px; 
	background-color: #C60; }
.d20logo { 
	//-webkit-mask-image: url('http://i.stack.imgur.com/gZvK4.png'); 
}


#alerts {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
	z-index: 2000;
	//border: 1px solid red;
	.alert {
		pointer-events: all;
		display: none;
	}
}

.fixed {
	position: fixed;
}
.container {
	position: relative;
	overflow: hidden;
}

.z-2000 {
	z-index: 2000;
}

@media only screen and (max-width: 992px) {
	#centercol {
		width: calc(100%);
		margin-left: 0;
	}
}
@media only screen and (min-width: 993px) {
	#sidenav-overlay {
		display: none;
	}
	.drag-target {
		display: none;
		pointer-events: none;
	}
	/*
	i {
		transition: all .25s ease;
		&:hover {
			background-color: rgba(255,255,255,.10);
		}
	}*/
}

/*
  .ilike-blue-container {
    @extend .blue-text, .text-lighten-4;
  }

  .ilike-blue-container {
    @extend .blue-text, .text-lighten-4;
  }
*/
.container {
	height: auto;
}
.text-glow-light-1 {
	text-shadow: 0 0 10px rgba(255, 255, 255, .5), 0 1px 0 rgba(0,0,0,.25);
}
.palette-dark-1 {
	//background-color: hsl(216, 14, 15) !important;
	background-color: rgb(32, 34, 37) !important;
}
.palette-dark-2 {
	//background-color: hsl(230, 12, 19) !important;
	background-color: rgb(43, 44, 49) !important;
}
.palette-dark-3 {
	//background-color: hsl(223, 13, 21) !important;
	background-color: rgb(47, 49, 54) !important;
}
.palette-dark-4 {
	//background-color: hsl(217, 13, 24) !important;
	background-color: rgb(54, 57, 62) !important;

}
.palette-dark-5 {
	//background-color: hsl(218, 14, 30) !important;
	background-color: rgb(66, 70, 77) !important;
}
.palette-dark-6 {
	//background-color: hsl(222, 12, 32) !important;
	background-color: rgb(72, 75, 82) !important;
}
.hover-light-1 {
	&:hover {
		background-color: rgba(255,255,255,.1) !important;
	}
}
    /*
    // label color
   .input-field label {
     //color: #9e9e9e;
   }
   // label focus color
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   // label underline focus color
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   // valid color
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   // invalid color
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   // icon prefix focus color
   .input-field .prefix.active {
     color: #000;
   }*/

.websrd-header-1 {
	@extend .palette-dark-6;
	padding: 5px 10px;
	
}






