/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Balthazar|Varela");
html {
  overflow-y: scroll; }

#leftcol {
  width: 200px; }

#centercol {
  width: 100%;
  margin-left: 200px;
  position: relative; }
  #centercol .navbar {
    width: inherit; }
    #centercol .navbar nav {
      width: inherit; }
      #centercol .navbar nav .nav-wrapper {
        width: inherit; }

#rightcol {
  width: 300px; }
  #rightcol .avatar {
    border-radius: 50%;
    width: 40px;
    height: auto;
    max-height: 40px;
    padding: 0; }
  #rightcol #dice-results-wrapper {
    overflow: hidden;
    width: 100%;
    height: 35px; }
  #rightcol #dice-results {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%; }
  #rightcol .dice-button {
    height: 25px;
    width: auto; }

.nomargin {
  margin: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important; }

.nopadding {
  padding: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important; }

.template {
  display: none !important; }

.noselect {
  user-select: none; }

.noresize {
  resize: none; }

.nooutline:focus {
  outline: none; }

.brand-logo {
  width: 175px;
  height: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  z-index: 0 !important; }
  .brand-logo img {
    width: 100%;
    height: auto;
    filter: brightness(180%) blur(0px);
    position: absolute;
    top: -115%;
    left: 0%; }

.nav-wrapper {
  position: relative; }
  .nav-wrapper * {
    z-index: 10; }

.dropdown-content li:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; }

.bluefire {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: center center; }

.d20logo {
  width: 50px;
  height: 50px;
  background-color: #C60; }

#alerts {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 2000; }
  #alerts .alert {
    pointer-events: all;
    display: none; }

.fixed {
  position: fixed; }

.container {
  position: relative;
  overflow: hidden; }

.z-2000 {
  z-index: 2000; }

@media only screen and (max-width: 992px) {
  #centercol {
    width: calc(100%);
    margin-left: 0; } }
@media only screen and (min-width: 993px) {
  #sidenav-overlay {
    display: none; }

  .drag-target {
    display: none;
    pointer-events: none; }

  /*
  i {
  	transition: all .25s ease;
  	&:hover {
  		background-color: rgba(255,255,255,.10);
  	}
  }*/ }
/*
  .ilike-blue-container {
    @extend .blue-text, .text-lighten-4;
  }

  .ilike-blue-container {
    @extend .blue-text, .text-lighten-4;
  }
*/
.container {
  height: auto; }

.text-glow-light-1, ul li a.active {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.25); }

.palette-dark-1, ul li a.active {
  background-color: #202225 !important; }

.palette-dark-2 {
  background-color: #2b2c31 !important; }

.palette-dark-3 {
  background-color: #2f3136 !important; }

.palette-dark-4 {
  background-color: #36393e !important; }

.palette-dark-5 {
  background-color: #42464d !important; }

.palette-dark-6, .websrd-header-1 {
  background-color: #484b52 !important; }

.hover-light-1:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; }

 /*
 // label color
.input-field label {
  //color: #9e9e9e;
}
// label focus color
.input-field input[type=text]:focus + label {
  color: #000;
}
// label underline focus color
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
// valid color
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
// invalid color
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
// icon prefix focus color
.input-field .prefix.active {
  color: #000;
}*/
.websrd-header-1 {
  padding: 5px 10px; }

/*# sourceMappingURL=base.css.map */
