
{# Overrides blocks in head of base template #}
{% extends "websrd/material.html" %}

{% block meta %}
	{{ block.super }}
	<title>{{ site.title }}</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block navactiveclass %}nav-home{% endblock %}


{% block navdropdowns %}
{% endblock %}
{% block navbuttons %}
{% endblock %}


{% block contentwithstyle %}

	{% if user.is_authenticated %}

	<h4>You are already signed in.</h4>

	{% else %}

    <div class="row">

        <h5 class="col s12">The page you are trying to access requires you to log in first.</h5>


        <form action="{{site.uri.public}}/accounts/login/" id="sign-in" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="row" id="sign-in-error" style="display:none">
                <h6 class="col s12 red-text text-darken-3">Your username/email or password was invalid.</h6>
            </div>
            <div class="input-field col s12 l3">
                <input type="text" class="form-control validate" name="username" id="username-input">
                <label class="active" for="username-input">Username or email</label>
            </div>
            <div class="input-field col s12 l3">
                <input type="password" class="form-control validate" name="password" id="password-input">
                <label class="active" for="password-input">Password</label>
            </div>
            <div class="input-field col s6 l2">
                <button class="btn  palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-login">Login</button>
            </div>
            <div class="input-field col s6 l3">
                <a href="{{site.uri.public}}/accounts/password_reset" class="btn palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-reset">Reset password</a>
            </div>
        </form>
    </div>


	<script>
	/*
		$('#btn-login').on('click', function(e) {
			e.preventDefault();

			var form = $('#sign-in');
			var data = form.serialize();

			var url = form.attr('action');
			console.log('url', url);
			$.ajax({
				url: url,
				type: 'post',
				data: data,
				success: function(response, status, jqXHR, data) {
				    if (jqXHR.responseText.length > 2)
					    location.reload();
				    else
				        //console.log('error', error);
					    $('#sign-in-error').show();
				},
				error: function(error) {
					//console.log('error', error);
					$('#sign-in-error').show();
				}
			});

		});
    */
	</script>


	{% endif %}




{% endblock %}



