{% extends "websrd/material.html" %}

{% block meta %}
	{{ block.super }}
	<title>{{ site.title }}</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block navactiveclass %}nav-home{% endblock %}


{% block navdropdowns %}
{% endblock %}
{% block navbuttons %}
{% endblock %}


{% block contentwithstyle %}


<div class="row">

	<p class="col s12">Reset Password</p>



{% endblock %}



