
{# Overrides blocks in head of base template #}
{% extends "websrd/material.html" %}

{% block meta %}
	{{ block.super }}
	<title>{{ site.title }}</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block navactiveclass %}nav-home{% endblock %}


{% block navdropdowns %}
{% endblock %}
{% block navbuttons %}
{% endblock %}


{% block contentwithstyle %}

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>
<!--
	{% if user.is_authenticated %}

    <h4>You have to log out to reset your password.</h4>


	{% else %}

<div class="row">

	<h4 class="col s12">Reset Password</h4>

    <form action="{{site.uri.public}}/accounts/password_reset/" id="reset-form" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="input-field col s12 l4">
            <input type="text" class="form-control validate" name="email" id="email-input-reset">
            <label class="active" for="email-input-reset">Email</label>
        </div>
        <div class="input-field col s6 l4">
            <button class="btn palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-reset">Send reset email</button>
        </div>

    </form>


	<script>
		$('#btn-login').on('click', function(e) {
			e.preventDefault();
			var form = $('#sign-in');
			var data = form.serialize();

			var url = form.attr('action');
			console.log('url', url);
			$.ajax({
				url: url,
				type: 'post',
				data: data,
				success: function(response, status, jqXHR, data) {
				    if (jqXHR.responseText.length > 2)
					    location.reload();
				    else
				        //console.log('error', error);
					    $('#sign-in-error').show();
				},
				error: function(error) {
					//console.log('error', error);
					$('#sign-in-error').show();
				}
			});
		});
		$('#btn-register').on('click', function(e) {
			e.preventDefault();
			var form = $('#register-form');
			var data = form.serialize();

			var url = form.attr('action');
			console.log('url', url);
			$.ajax({
				url: url,
				type: 'post',
				data: data,
				success: function(response, status, jqXHR, data) {
				    if (jqXHR.responseText.length > 2) {
				        alert("Account created.  You may now log in.")
                        //location.reload();
                    }
				    else
				        console.log('error', error);
                        $('#register-error').show();
				},
				error: function(error) {
					console.log('ajax error', error);
					$('#register-error').show();
				}
			});
		});
	</script>


	{% endif %}

-->


{% endblock %}



