
{% extends "feats/base.html" %}

{% load static %}
{% block meta %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'feats/css/edit.css' %}" >
	<script src="{% static 'feats/js/edit.js' %}"></script>
{% endblock %}

{% block navactiveclass %}nav-feats-edit{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
{% endblock %}



{% block navbuttons %}
	<li><a class="waves-effect waves-light" href="#!" id="edit-save-button"><i class="large material-icons">save</i></a></li>
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="feat-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}



{% block contentwithstyle %}


	<div class="feat-wrapper grey-text text-lighten-1">
	<h3></h3>
	<form id="feat-form" action="/feats/{{ feat.id }}/edit/">{% csrf_token %}
	<input type="hidden" value="{{ feat.id }}" name="id" />

	<div class="row">
		<div class="input-field col s12">
			<input type="text" value="{{ feat.Name }}" class="validate" id="feat-name-input" name="Name" />
			<label class="active" for="feat-name-input">Feat Name</label>
		</div>
	</div>

	<div class="row">
		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="feat-benefit-input" class="materialize-textarea" name="Benefit">{{ feat.Benefit }}</textarea>
			<label class="active" for="feat-benefit-input">Benefit (markdown supported)</label>
		</div>
		{% endautoescape %}

		<div class="input-field col s12">
			<input type="text" value="{{ feat.BenefitShort }}" class="validate" id="feat-benefit-short-input" name="BenefitShort" />
			<label class="active" for="feat-benefit-short-input">Benefit (short)</label>
		</div>

		<div class="input-field col s12">
			<input type="text" value="{{ feat.Flavor }}" class="validate" id="feat-flavor-input" name="Flavor" />
			<label class="active" for="feat-flavor-input">Flavor Text</label>
		</div>

		<div class="input-field col s12 l6">
			<input type="text" value="{{ feat.Prerequisite }}" class="validate" id="feat-prerequisite-input" name="Prerequisite" />
			<label class="active" for="feat-prerequisite-input">Prerequisite</label>
		</div>

		<div class="input-field col s12 l6">
			<input type="text" value="{{ feat.Normal }}" class="validate" id="feat-normal-input" name="Normal" />
			<label class="active" for="feat-normal-input">Normal</label>
		</div>

		<p class="col s5 l2">
			<input type="checkbox" id="feat-meta" name="MetaFeat" value="1" {% if feat.MetaFeat %}checked{% endif %}/>
			<label class="active" for="feat-meta">Meta Feat?</label>
		</p>

		<div class="input-field col s7 l6">
			<input type="text" value="{{ feat.MetaLevelIncrease }}" class="validate" id="feat-metalevelincrease-input" name="MetaLevelIncrease" />
			<label class="active" for="feat-metalevelincrease-input">Meta Increase</label>
		</div>
	</div>

	<div class="row divider palette-dark-6"></div>

	<div class="row">
		<p class="col s4 l2">
			<input type="checkbox" id="feat-mythic"  name="Mythic" value="1" {% if feat.Mythic %}checked{% endif %}/>
			<label class="active" for="feat-mythic">Mythic?</label>
		</p>

		<div class="input-field col s8 l6">
			<input type="text" value="{{ feat.MythicPrerequisite }}" class="validate" id="feat-mythic-prerequisite-input" name="MythicPrerequisite" />
			<label class="active" for="feat-mythic-prerequisite-input">Mythic Prerequisite</label>
		</div>

		<div class="input-field col s12">
			<input type="text" value="{{ feat.MythicFlavor }}" class="validate" id="feat-mythic-flavor-input" name="MythicFlavor" />
			<label class="active" for="feat-mythic-flavor-input">Mythic Flavor Text</label>
		</div>

		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="feat-mythic-benefit-input" class="materialize-textarea" name="MythicBenefit">{{ feat.MythicBenefit }}</textarea>
			<label class="active" for="feat-mythic-benefit-input">Mythic Benefit (markdown supported)</label>
		</div>
		{% endautoescape %}



	</div>


</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}






