
{% extends "feats/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-feats-mine{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
	<ul id="spell-functions" class="dropdown-content palette-dark-2 grey-text text-lighten-3 z-depth-3">
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/feats/{{feat.id}}/material">View</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/feats/{{feat.id}}/edit/material">Edit</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/feats/{{feat.id}}/manage/material">Manage</a></li>
	</ul>
{% endblock %}



{% block navbuttons %}
{% endblock %}



{% block contentwithstyle %}

<div>{{ site}}</div>

	<table class="bordered grey-text text-lighten-1">
        <thead>
          <tr>
              <th>Name</th>
              <th>Prerequisites</th>
              <th>Benefit</th>
          </tr>
        </thead>

        <tbody>
       		{% for feat in feats %}
        	<tr>
				<td><a href="{{site.uri.public}}/feats/{{feat.id}}" class="" >{{ feat.Name }}</a></td>
          		<td>{{ feat.Prerequisite }}</td>
          		<td>{{ feat.BenefitShort }}</td>
        	</tr>
        	{% endfor %}
        </tbody>
      </table>

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}




