
{% extends "artifacts/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-artifacts-view{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
{% endblock %}



{% block navbuttons %}
	{{ block.super }}
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="artifact-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}
			
			
			
{% block contentwithstyle %}
	<div class="artifact-wrapper grey-text text-lighten-1">
	<h3 id="artifact-name">{{ artifact.Name }}</h3>
	

	<div class="divider grey"></div>

	<div class="section row">
		<div class="col s12 ">
			<p><i>{{ artifact.Flavor }}</i></p>
		</div>
	</div>
		
	<div class="row">
		{% autoescape off %}
		<ul class="collapsible col s12 long-section" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header">Untitled</div>
			  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
		<div class="col s12 l12 markdown">
			<h5>Benefit</h5>
			<p id="artifact-benefit">{{ artifact.Benefit }}</p>
		</div>
		{% endautoescape %}
	</div>
		
	<div class="s10 offset-s1 col divider palette-dark-6"></div>
	
	<div class="row">
			<div class="col s12 l4">
			<h5>Prerequisites</h5>
			<p>{{ artifact.Prerequisite }}</p>
		</div>		
		
		<div class="col s12 l8">
			<h5>Normal</h5>
			<p>{{ artifact.Normal }}</p>
		</div>
	</div>
	
	{% if artifact.Mythic %}
	<div class="divider grey"></div>
	
	<h5>Mythic {{ artifact.Name}}</h5>
	<div class="row">
		<div class="col s12">
			<p><i>{{ artifact.MythicFlavor }}</i></p>
		</div>
	</div>
		
	<div class="row">
		<div class="col s12">
			<h5>Benefit</h5>
			<p>{{ artifact.MythicBenefit }}</p>
		</div>
		
		<div class="col s12">
			<h5>Prerequisites</h5>
			<p>{{ artifact.MythicPrerequisite }}</p>
		</div>
		
		
		
	</div>
	{% endif %}

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}




