.spell-wrapper {
  min-height: 100%; }
  .spell-wrapper #spell-name {
    font-family: 'Balthazar'; }

#spell-description-input {
  min-height: 200px !important; }

/*# sourceMappingURL=base.css.map */
