
{% extends "spells/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-spells-all{% endblock %}


{% block contentwithstyle %}

	<table class="bordered grey-text text-lighten-1">
        <thead>
          <tr>
              <th>Name</th>
              <th>Prerequisites</th>
              <th>Benefit</th>
          </tr>
        </thead>

        <tbody>
       		{% for spell in spells %}
        	<tr>
				<td><a href="{{site.uri.public}}/spells/{{spell.id}}" class="" >{{ spell.Name }}</a></td>
          		<td>{{ spell.Prerequisite }}</td>
          		<td>{{ spell.BenefitShort }}</td>
        	</tr>
        	{% endfor %}
        </tbody>
      </table>

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}




