
{% extends "spells/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-spells-mine{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
	<ul id="spell-functions" class="dropdown-content palette-dark-2 grey-text text-lighten-3 z-depth-3">
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/material">View</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/edit/material">Edit</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/manage/material">Manage</a></li>
	</ul>
{% endblock %}



{% block navbuttons %}
	{{ block.super }}
{% endblock %}



{% block contentwithstyle %}

	<table class="bordered grey-text text-lighten-1">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
          </tr>
        </thead>

        <tbody>
       		{% for spell in spells %}
        	<tr>
				<td><a href="{{site.uri.public}}/spells/{{spell.id}}" class="" >{{ spell.Name }}</a></td>
          		<td>{{ spell.DescriptionShort }}</td>
        	</tr>
        	{% endfor %}
        </tbody>
      </table>

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}




