
{% extends "spells/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'spells/css/new.css' %}" >
	<script src="{% static 'spells/js/new.js' %}"></script>
{% endblock %}

{% block navactiveclass %}nav-spells-new{% endblock %}

{% block navdropdowns %}
	{{ block.super }}
	<ul id="spell-functions" class="dropdown-content palette-dark-2 grey-text text-lighten-3 z-depth-3">
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}">View</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/edit">Edit</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/manage">Manage</a></li>
	</ul>
{% endblock %}



{% block navbuttons %}
	{{ block.super }}
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="spell-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}


{% block contentwithstyle %}
	<div class="spell-wrapper grey-text text-lighten-1">
	<h3></h3>
	<form id="spell-form">{% csrf_token %}
	<div class="row">
		<div class="col s12 offset-m2 m8 offset-l4 l4 btn-large palette-dark-6 grey-text text-lighten-1 waves-effect waves-light" id="submit-spell-button">Submit Spell</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<input type="text" value="{{ spell.Name }}" class="validate" id="spell-name-input" name="Name" />
			<label class="active" for="spell-name-input">Spell Name</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s4">
			<input type="text" value="{{ spell.School }}" class="validate" id="spell-school-input" name="School" />
			<label class="active" for="spell-school-input">School</label>
		</div>

		<div class="input-field col s4">
			<input type="text" value="{{ spell.Subschool }}" class="validate" id="spell-subschool-input" name="Subschool" />
			<label class="active" for="spell-subschool-input">Subschool</label>
		</div>



		<div class="input-field col s4">
			<input type="text" value="{{ spell.ElementalSchool }}" class="validate" id="spell-elemental-school-input" name="ElementalSchool" />
			<label class="active" for="spell-elemental-school-input">Elemental School</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<input type="text" value="{{ spell.Level }}" class="validate" id="spell-level-input" name="Level" />
			<label class="active" for="spell-level-input">Level</label>
		</div>

		<div class="input-field col s6">
			<input type="text" value="{{ spell.Domain }}" class="validate" id="spell-domain-input" name="Domain" />
			<label class="active" for="spell-school-input">Domain</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6 m4">
			<input type="text" value="{{ spell.Components }}" class="validate" id="spell-components-input" name="Components" />
			<label class="active" for="spell-components-input">Components</label>
		</div>

		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.CastingTime }}" class="validate" id="spell-casting-time-input" name="CastingTime" />
			<label class="active" for="spell-casting-time-input">Casting Time</label>
		</div>

		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.Save }}" class="validate" id="spell-saving-throw-input" name="Save" />
			<label class="active" for="spell-saving-throw-input">Saving Throw</label>
		</div>

		<div class="input-field col s6 m2">
			<input type="text" value="{{ spell.SR }}" class="validate" id="spell-spell-resistance-input" name="SR" />
			<label class="active" for="spell-spell-resistance-input">Spell Resistance</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.Range }}" class="validate" id="spell-range-input" name="Range" />
			<label class="active" for="spell-range-input">Range</label>
		</div>

		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.Area }}" class="validate" id="spell-area-input" name="Area" />
			<label class="active" for="spell-area-input">Area</label>
		</div>

		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.Target }}" class="validate" id="spell-target-input" name="Target" />
			<label class="active" for="spell-target-input">Target</label>
		</div>

		<div class="input-field col s6 m3">
			<input type="text" value="{{ spell.Duration }}" class="validate" id="spell-duration-input" name="Duration" />
			<label class="active" for="spell-duration-input">Duration</label>
		</div>
	</div>

	<div class="row">
		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="spell-description-input" class="materialize-textarea" name="Description">{{ spell.Description }}</textarea>
			<label class="active" for="spell-description-input">Description</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<input type="text" id="spell-description-short-input" class="materialize-textarea" name="DescriptionShort" value="{{ spell.DescriptionShort }}" />
			<label class="active" for="spell-description-short-input">Short Description</label>
		</div>
		{% endautoescape %}
	</div>

	<div class="divider palette-dark-6"></div>

	<div class="section row">
		{% autoescape off %}
		<p class="col s4 m2">
			<input type="checkbox" id="spell-mythic" class="materialize-textarea" name="Mythic" value="1"/>
			<label class="active" for="spell-mythic">Mythic?</label>
		</p>
		<div class="input-field col s8 m10">
			<input type="text" id="spell-description-mythic-short-input" class="materialize-textarea" name="MythicDescriptionShort" value="{{ spell.MythicDescriptionShort }}" />
			<label class="active" for="spell-mythic-description-short-input">Short Mythic Description</label>
		</div>
		<div class="input-field col s12">
			<textarea id="spell-description-input" class="materialize-textarea" name="MythicDescription">{{ spell.MythicDescription }}</textarea>
			<label class="active" for="spell-mythic-description-input">Mythic Description</label>
		</div>
		{% endautoescape %}
	</div>



	<div class="row">
		<div class="col s12">
			{% autoescape off %}
			<h5>Preview</h5>
			<p>{{ spell.Description }}</p>
			{% endautoescape %}
		</div>
	</div>

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}





