
{% extends "spells/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-spells-view{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
	<ul id="spell-functions" class="dropdown-content palette-dark-2 grey-text text-lighten-3 z-depth-3">
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}">View</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/edit">Edit</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/spells/{{spell.id}}/manage">Manage</a></li>
	</ul>
{% endblock %}



{% block navbuttons %}
	{{ block.super }}
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="spell-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}



{% block contentwithstyle %}
	<div class="spell-wrapper grey-text text-lighten-1">
	<h3 id="spell-name">{{ spell.Name }}</h3>


	<div class="divider grey"></div>

	<div class="row">
		<div class="col s4">
			<h5>School</h5>
			<p>{{ spell.School }} [{{ spell.Subschool}}]</p>
		</div>

		<div class="col s4">
			<h5>Elemental School</h5>
			<p>{{ spell.ElementalSchool }}</p>
		</div>

		<div class="col s4">
			<h5>Domain</h5>
			<p>{{ spell.Domain }}</p>
		</div>

		<div class="col s8">
			<h5>Level</h5>
			<p>{{ spell.Level }}</p>
		</div>

		<div class="col s4">
			<h5>Saving Throw</h5>
			<p>{{ spell.Save }}</p>
		</div>
	</div>

	<div class="divider grey"></div>

	<div class="row">
		<div class="col s6 m4">
			<h5>Casting Time</h5>
			<p>{{ spell.CastingTime }}</p>
		</div>

		<div class="col s6 m8">
			<h5>Casting Components</h5>
			<p>{{ spell.Components }}</p>
		</div>

	</div>

	<div class="divider grey"></div>

	<div class="section row">
		<div class="col s4">
			<h5>Range</h5>
			<p>{{ spell.Range }}</p>
		</div>

		<div class="col s4">
			<h5>Area</h5>
			<p>{{ spell.Area }}</p>
		</div>

		<div class="col s4">
			<h5>Duration</h5>
			<p>{{ spell.Duration }}</p>
		</div>
	</div>

	<div class="divider palette-dark-6"></div>

	<div class="section row">
		<div class="col s12">
			{% autoescape off %}
			<h5>Description</h5>
			<p>{{ md.Description }}</p>
			{% endautoescape %}
		</div>
	</div>

	{% if spell.Mythic %}
	<div class="divider grey"></div>

		<div class="row">
		<div class="col s12">
			{% autoescape off %}
			<h5>Mythic Description</h5>
			<p>{{ md.MythicDescription }}</p>
			{% endautoescape %}
		</div>
	</div>
	{% endif %}

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}



