
{# Overrides blocks in head of base template #}
{% extends "websrd/material.html" %}

{% block meta %}
	{{ block.super }}
	<title>{{ site.title }}</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block navactiveclass %}nav-home{% endblock %}


{% block navdropdowns %}
{% endblock %}
{% block navbuttons %}
{% endblock %}
	

{% block contentwithstyle %}

	{% if user.is_authenticated %}

	<h4>Welcome, {{ user.username }}.</h4>
	
	<p>You can start by opening the left menu and viewing or creating some spells, feats, or artifacts.</p>



	{% else %}

    <div class="row">

        <p class="col s12">It is recommended you sign in when viewing the site.  However, it is not required, but you may not be able to access certain pages.</p>

        <h4 class="col s12">Sign in</h4>

        <h6 class="col s12 red-text text-darken-3" id="sign-in-error" style="display:none">Your username/email or password was invalid.</h6>

        <form action="{{site.uri.public}}/login/" id="sign-in" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="input-field col s12 l3">
                <input type="text" class="form-control validate" name="username" id="username-input">
                <label class="active" for="username-input">Username or email</label>
            </div>
            <div class="input-field col s12 l3">
                <input type="password" class="form-control validate" name="password" id="password-input">
                <label class="active" for="password-input">Password</label>
            </div>
            <div class="input-field col s6 l2">
                <div class="btn  palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-login">Login</div>
            </div>
            <div class="input-field col s6 l3">
                <a href="{{site.uri.public}}/accounts/password_reset" class="btn palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-reset">Reset password</a>
            </div>
        </form>
    </div>
	
	
    <div class="row">
        <h5 class="grey-text text-lighten-1 col s12">Don't have an account?  Register today.</h5>
        <form action="{{site.uri.public}}/register/" id="register-form" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="input-field col s12 l3 ">
                <input type="text" class="form-control validate" name="username" id="username-input-register">
                <label class="active" for="username-input-register">Username</label>
            </div>
            <div class="input-field col s12 l3">
                <input type="text" class="form-control validate" name="email" id="email-input-register">
                <label class="active" for="email-input-register">Email</label>
            </div>
            <div class="input-field col s12 l3">
                <input type="password" class="form-control validate" name="password" id="password-input-register">
                <label class="active" for="password-input-register">Password</label>
            </div>
            <div class="input-field col s6 l3">
                <div class="btn  palette-dark-6 grey-text text-lighten-2 waves-effect waves-light" id="btn-register">Register</div>
            </div>

        </form>
    </div>
	
	
	<script>
		$('#btn-login').on('click', function(e) {
			e.preventDefault();
			var form = $('#sign-in');
			var data = form.serialize();

			var url = form.attr('action');
			console.log('url', url);
			$.ajax({
				url: url,
				type: 'post',
				data: data,
				success: function(response, status, jqXHR, data) {
				    if (jqXHR.responseText.length > 2)
					    location.reload();
				    else
				        //console.log('error', error);
					    $('#sign-in-error').show();
				},
				error: function(error) {
					//console.log('error', error);
					$('#sign-in-error').show();
				}
			});
		});
		$('#btn-register').on('click', function(e) {
			e.preventDefault();
			var form = $('#register-form');
			var data = form.serialize();

			var url = form.attr('action');
			console.log('url', url);
			$.ajax({
				url: url,
				type: 'post',
				data: data,
				success: function(response, status, jqXHR, data) {
				    if (jqXHR.responseText.length > 2) {
				        alert("Account created.  You may now log in.")
                        //location.reload();
                    }
				    else
				        console.log('error', error);
                        $('#register-error').show();
				},
				error: function(error) {
					console.log('ajax error', error);
					$('#register-error').show();
				}
			});
		});
	</script>


	{% endif %}
		
		
		
		
{% endblock %}



