
{# Overrides blocks in head of base template #}

{% load static %}

<html>

<head>
{% block meta %}
	<title>{{ site.title }}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'websrd/img/favicon.png' %}"/>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static 'websrd/js/lib/jquery-min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/lib/materialize.min.css' %}" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/lib/normalize.css' %}" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
	<script src="{% static 'websrd/js/lib/materialize.min.js' %}"></script>
	<script src="{% static 'websrd/js/lib/hammer.min.js' %}"></script>


	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/base.css' %}" >
	<script src="{% static 'websrd/js/lib/storage.min.js' %}"></script>
	<script src="{% static 'websrd/js/lib/jsscrollpane.min.js' %}"></script>
	<script src="{% static 'websrd/js/prototypes.js' %}"></script>
	<script src="{% static 'websrd/js/showdown.min.js' %}"></script>
	<script src="{% static 'websrd/js/base.js' %}"></script>

{% endblock %}
</head>

<body class="palette-dark-4 grey-text text-lighten-1" data-navactiveclass="{% block navactiveclass %}nav-spells{% endblock %}">


{% block leftcol %}
	<ul id="leftcol" class="side-nav fixed palette-dark-3 grey-text text-lighten-1 z-depth-4">
		<li><a class="nav-home collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" href="{{site.uri.public}}/" >Home</a></li>
		{% block navspells %}
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-spells-base">Spells</a>
						<div class="collapsible-body">
							<ul class="palette-dark-3">
								<li><a href="{{site.uri.public}}/spells/" class="nav-spells-all waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">All Spells</a></li>
								<li><a href="{{site.uri.public}}/spells/new/" class="nav-spells-new waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Create a spell</a></li>
								{% if spell %}<li><a href="{{site.uri.public}}/spells/{{spell.id}}/" class="nav-spells-view waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">{{ spell.Name}}</a></li>{% endif %}
								{% if spell %}<li><a href="{{site.uri.public}}/spells/{{spell.id}}/edit/" class="nav-spells-edit waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Edit spell</a></li>{% endif %}
								<li><a href="{{site.uri.public}}/spells/my/" class="nav-spells-mine waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">My Spells</a></li>
								<li><a href="{{site.uri.public}}/spells/search/" class="nav-spells-search waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Search spells</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endblock %}
		{% block navfeats %}
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-feats-base">Feats</a>
						<div class="collapsible-body">
							<ul class="palette-dark-3">
								<li><a href="{{site.uri.public}}/feats" class="nav-feats-all waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">All feats</a></li>
								<li><a href="{{site.uri.public}}/feats/new" class="nav-feats-new waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Create a feat</a></li>
								{% if feat %}<li><a href="{{site.uri.public}}/feats/{{feat.id}}" class="nav-feats-view waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">{{ feat.Name}}</a></li>{% endif %}
								{% if feat %}<li><a href="{{site.uri.public}}/feats/{{feat.id}}/edit" class="nav-feats-edit waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Edit feat</a></li>{% endif %}
								<li><a href="{{site.uri.public}}/feats/my" class="nav-feats-mine waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">My feats</a></li>
								<li><a href="{{site.uri.public}}/feats/search" class="nav-feats-search waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Search feats</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endblock %}

		{% block navartifacts %}
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-artifacts-base">Items</a>
						<div class="collapsible-body">
							<ul class="palette-dark-3">
								<li><a href="{{site.uri.public}}/artifacts" class="nav-artifacts-all waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">All items</a></li>
								<li><a href="{{site.uri.public}}/artifacts/new" class="nav-artifacts-new waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Create an item</a></li>
								{% if artifact %}<li><a href="{{site.uri.public}}/artifacts/{{artifact.id}}" class="nav-artifacts-view waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">{{ artifact.Name}}</a></li>{% endif %}
								{% if artifact %}<li><a href="{{site.uri.public}}/artifacts/{{artifact.id}}/edit" class="nav-artifacts-edit waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Edit item</a></li>{% endif %}
								<li><a href="{{site.uri.public}}/artifacts/my" class="nav-artifacts-mine waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">My items</a></li>
								<li><a href="{{site.uri.public}}/artifacts/search" class="nav-artifacts-search waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Search items</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endblock %}

		{% block navgames %}
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-games-base">Games</a>
						<div class="collapsible-body">
							<ul class="palette-dark-3">
								<li><a href="{{site.uri.public}}/spells/" class="nav-spells-all waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">All Spells</a></li>
								<li><a href="{{site.uri.public}}/spells/{{spell.id}}" class="nav-spells-new waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Create a spell</a></li>
								{% if spell %}<li><a href="{{site.uri.public}}/spells/{{spell.id}}" class="nav-spells-view waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">{{ spell.Name}}</a></li>{% endif %}
								{% if spell %}<li><a href="{{site.uri.public}}/spells/{{spell.id}}/edit" class="nav-spells-edit waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Edit spell</a></li>{% endif %}
								<li><a href="{{site.uri.public}}/spells/my" class="nav-spells-mine waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">My Spells</a></li>
								<li><a href="{{site.uri.public}}/spells/search" class="nav-spells-search waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Search spells</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endblock %}
		{% if user.is_authenticated %}
		<li>
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-logout-base">Logout</a>
					<div class="collapsible-body">
						<ul class="palette-dark-3">
							<li><a href="{{site.uri.public}}/logout" class="nav-logout-confirm waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Confirm</a></li>
							<li><a href="{{site.uri.public}}/" class="nav-logout-cancel waves-effect waves-light hover-light-1 grey-text text-lighten-1 nopadding">Cancel</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		{% endif %}
	</ul>
{% endblock %}



{% block rightcol %}
	<ul id="rightcol" class="side-nav fixed right-aligned palette-dark-3 grey-text text-lighten-3 z-depth-4 stateid" data-stateid="rightcol">
		{% if user.is_authenticated %}
    	<li><div class="user-view row">
			<a href="#" class="col s4 center"><img class="circle" src="{{ gravatar }}"></a>
			<a class="col s8"><span class="white-text name">{{ user.username }}</span></a>
		</div></li>
		{% endif %}
		<div class="divider palette-dark-6"></div>


		<li>
			<div class="row">
				<h6 class="col s12">Dice Roller</h6>
				<div id="dice-results-wrapper">
					<div id="dice-results" class="col s12 valign-wrapper">
					</div>
				</div>
				<div class="roll-result template chip palette-dark-5 grey-text text-lighten-2"></div>
				<span class="roll-result-piece template"></span>
				<div class="col s12">
					<img src="{% static 'websrd/img/d20.png' %}" class="dice-button" id="d20-button"/>
					<img src="{% static 'websrd/img/d4.png' %}" class="dice-button" id="d4-button"/>
					<img src="{% static 'websrd/img/d6.png' %}" class="dice-button" id="d6-button"/>
					<img src="{% static 'websrd/img/d8.png' %}" class="dice-button" id="d8-button"/>
					<img src="{% static 'websrd/img/d10.png' %}" class="dice-button" id="d10-button"/>
					<img src="{% static 'websrd/img/d12.png' %}" class="dice-button" id="d12-button"/>
				</div>
				<div class="input-field col s3 nomargin">
					<input type="text" value="3" class="validate" id="dice-roller-count-input" name="DiceCount" />
					<label class="active" for="dice-roller-count-input"># Dice</label>
				</div>
				<div class="col s1 valign-wrapper">
					<span>d</span>
				</div>
				<div class="input-field col s3 nomargin">
					<input type="text" value="6" class="validate" id="dice-roller-step-input" name="DiceStep" />
					<label class="active" for="dice-roller-step-input">Step</label>
				</div>
				<div class="col s3 btn palette-dark-6 grey-text text-lighten-1 waves-effect waves-light" id="roll-dice-button">Roll</div>
			</div>
		</li>
		{% block rightcolsections %}
		{% endblock %}
	</ul>
{% endblock %}



<div id="centercol" class="palette-dark-4 grey-text text-lighten-1">
	<div class="navbar navbar-fixed">

		{% block navdropdowns %}
		{% endblock %}

		<nav class="palette-dark-1 z-depth-2">
			<div class="nav-wrapper">
				<ul class="left">
					<li><a href="#" id="left-button" data-activates="leftcol" class="waves-effect waves-light show-on-large"><i class="material-icons">menu</i></a></li>
				</ul>

				<div style="background-image: url('{% static 'websrd/img/bluefire.jpg' %}')" class="bluefire"></div>
				<a href="#" class="brand-logo"><img src="{% static 'websrd/img/logo.png' %}" /></a>

				<ul class="right">
					{% block navbuttons %}
					{% endblock %}
					<li><a href="#" id="right-button" data-activates="rightcol" class=" waves-effect waves-light show-on-large"><i class="material-icons">menu</i></a></li>
				</ul>
			</div>
		</nav>
	</div>

	{% block content %}
		<div id="content" class="container palette-dark-4 grey-text text-lighten-1">
			{% block alerts %}
				<div class="container" id="alerts">
					<div class="section row">
						<div class="col s8 offset-s2 l4 offset-l4 btn alert light-green darken-3" id="saved">Saved</div>
						<div class="col s8 offset-s2 l4 offset-l4 btn alert red darken-4" id="error">Error</div>
					</div>
				</div>
			{% endblock %}
			{% block contentwithstyle %}
			{% endblock %}
		</div>
	{% endblock %}
</div>






<script>
{% block footscripts %}
{% endblock %}
</script>

{% block scripts %}
{% endblock %}


</body>


</html>