
<div id="reactleft"></div>


<script type="text/babel">

    class NavItemLink extends React.Component {
        render() {
            const title = this.props.title;
            const nav = this.props.nav;
            const url = "{{site.uri.public}}/" + this.props.url;
            return (
               	<li key={title} >
               	    <a href={url} className="waves-effect waves-light hover-light-1 grey-text text-lighten-1 collapsible-header" id={nav}>{title}</a>
               	</li>
            );
        }
    }

    class NavCollapsibleLink extends React.Component {
        render() {
            const title = this.props.title;
            const nav = this.props.nav;
            const url = "{{site.uri.public}}/" + this.props.url;

            return (
               	<li>
               	    <a href={url} className="waves-effect waves-light hover-light-1 grey-text text-lighten-1" id={nav}>{title}</a>
               	</li>
            );
        }
    }

    class NavCollapsibleHeader extends React.Component {
        render() {
            const title = this.props.title;
            let rows = [];

            this.props.items.forEach((item) => {
                rows.push(<NavCollapsibleLink
                    title={item.title}
                    nav={item.nav}
                    url={item.url}
                    key={title + "_" + item.title}
                    />
                );
            });

            return (
                <ul className="collapsible collapsible-accordion" key="navcollapsehead">
                    <li key="navheader">
                        <a className="collapsible collapsible-header waves-effect waves-light grey-text text-lighten-1" id="nav-spells-base">{title}</a>
                        <div className="collapsible-body">
                        <ul className="palette-dark-3" key="navcollapsebody">{rows}</ul>
                        </div>
                    </li>
                </ul>
            );
        }
    }

    class NavLeft extends React.Component {
        render() {
            let rows = [];

            this.props.items.forEach((item) => {
                rows.push(item);
            });

            return (
                <ul id="leftcol" className="side-nav fixed palette-dark-3 grey-text text-lighten-1 z-depth-4">
                    {rows}
                </ul>
            );
        }
    }




    let NAV_SPELLS = [
        {'title': 'Spells', 'nav': 'nav-spells-all', 'url': 'spells/'},
        {'title': 'My Spells', 'nav': 'nav-spells-mine', 'url': 'spells/my'},
        {% if spell %} {'title': '{{spell.Name}}', 'nav': 'nav-spells-view', 'url': 'spells/{{spell.id}}'}, {% endif %}
        {% if spell %} {'title': 'Edit {{spell.Name}}', 'nav': 'nav-spells-edit', 'url': 'spells/{{spell.id}}/edit'}, {% endif %}
        {'title': 'Create a spell', 'nav': 'nav-spells-new', 'url': 'spells/new'},
        {'title': 'Search spells', 'nav': 'nav-spells-search', 'url': 'spells/search'},
    ];
    let NAV_FEATS = [
        {'title': 'Feats', 'nav': 'nav-feats-all', 'url': 'feats/'},
        {'title': 'My Feats', 'nav': 'nav-feats-mine', 'url': 'feats/my'},
        {% if feat %} {'title': '{{feat.Name}}', 'nav': 'nav-feats-view', 'url': 'feats/{{feat.id}}'}, {% endif %}
        {% if feat %} {'title': 'Edit {{feat.Name}}', 'nav': 'nav-feats-edit', 'url': 'feats/{{feat.id}}/edit'}, {% endif %}
        {'title': 'Create a feat', 'nav': 'nav-feats-new', 'url': 'feats/new'},
        {'title': 'Search feats', 'nav': 'nav-feats-search', 'url': 'feats/search'},
    ];
    let NAV_ARTIFACTS = [
        {'title': 'Items', 'nav': 'nav-artifacts-all', 'url': 'artifacts/'},
        {'title': 'My items', 'nav': 'nav-artifacts-mine', 'url': 'artifacts/my'},
        {% if artifact %} {'title': '{{artifact.Name}}', 'nav': 'nav-artifacts-view', 'url': 'artifacts/{{artifact.id}}'}, {% endif %}
        {% if artifact %} {'title': 'Edit {{artifact.Name}}', 'nav': 'nav-artifacts-edit', 'url': 'artifacts/{{artifact.id}}/edit'}, {% endif %}
        {'title': 'Create an Item', 'nav': 'nav-artifacts-new', 'url': 'artifacts/new'},
        {'title': 'Search items', 'nav': 'nav-artifacts-search', 'url': 'artifacts/search'},
    ];
    let NAV_ACCOUNT = [
        {'title': 'Logout', 'nav': 'nav-account-logout', 'url': 'logout/'},
    ];

    const navSpells = <NavCollapsibleHeader
        title="Spells"
        items={NAV_SPELLS} />;
    const navFeats = <NavCollapsibleHeader
        title="Feats"
        items={NAV_FEATS} />;
    const navArtifacts = <NavCollapsibleHeader
        title="Items"
        items={NAV_ARTIFACTS} />;
    const navAccount = <NavCollapsibleHeader
        title="Account"
        items={NAV_ACCOUNT} />;
    const navHome = <NavItemLink
        title="Home"
        nav="nav-home"
        url="" />;

    let NAV = [
        navHome,
        navSpells,
        navFeats,
        navArtifacts,
        {% if user.is_authenticated %} navAccount, {% endif %}
    ];
    const navLeft = <NavLeft
        items={NAV}
    />;

    ReactDOM.render(navLeft, document.getElementById('reactleft'));


    $('.collapsible').collapsible();
    $(".dropdown-button").dropdown();


</script>