
{# Overrides blocks in head of base template #}

{% load static %}

<html>

<head>
{% block meta %}
	<title>{{ site.title }}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'websrd/img/favicon.png' %}"/>

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static 'websrd/js/lib/jquery-min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/lib/materialize.min.css' %}" media="screen,projection">
	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/lib/normalize.css' %}" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
	<script src="{% static 'websrd/js/lib/materialize.min.js' %}"></script>
	<script src="{% static 'websrd/js/lib/hammer.min.js' %}"></script>


	<link rel="stylesheet" type="text/css" href="{% static 'websrd/css/base.css' %}" >
	<script src="{% static 'websrd/js/lib/storage.min.js' %}"></script>
	<script src="{% static 'websrd/js/lib/jsscrollpane.min.js' %}"></script>
	<script src="{% static 'websrd/js/prototypes.js' %}"></script>
	<script src="{% static 'websrd/js/showdown.min.js' %}"></script>
	<script src="{% static 'websrd/js/base.js' %}"></script>

{% endblock %}
</head>

<body class="palette-dark-4 grey-text text-lighten-1" data-navactiveclass="{% block navactiveclass %}nav-spells{% endblock %}">


{% block leftcol %}
{% endblock %}


{% block rightcol %}
{% endblock %}



<div id="centercol" class="palette-dark-4 grey-text text-lighten-1">
	<div class="navbar navbar-fixed">

		{% block navdropdowns %}
		{% endblock %}

		<nav class="palette-dark-1 z-depth-2">
			<div class="nav-wrapper">
				<ul class="left">
					<li><a href="#" id="left-button" data-activates="leftcol" class="waves-effect waves-light show-on-large"><i class="material-icons">menu</i></a></li>
				</ul>

				<div style="background-image: url('{% static 'websrd/img/bluefire.jpg' %}')" class="bluefire"></div>
				<a href="#" class="brand-logo"><img src="{% static 'websrd/img/logo.png' %}" /></a>

				<ul class="right">
					{% block navbuttons %}
					{% endblock %}
					<li><a href="#" id="right-button" data-activates="rightcol" class=" waves-effect waves-light show-on-large"><i class="material-icons">menu</i></a></li>
				</ul>
			</div>
		</nav>
	</div>

	{% block content %}
		<div id="content" class="container palette-dark-4 grey-text text-lighten-1">
			{% block alerts %}
				<div class="container" id="alerts">
					<div class="section row">
						<div class="col s8 offset-s2 l4 offset-l4 btn alert light-green darken-3" id="saved">Saved</div>
						<div class="col s8 offset-s2 l4 offset-l4 btn alert red darken-4" id="error">Error</div>
					</div>
				</div>
			{% endblock %}
			{% block contentwithstyle %}
			{% endblock %}
		</div>
	{% endblock %}
</div>






<script>
{% block footscripts %}
{% endblock %}
</script>

{% block scripts %}
{% endblock %}


</body>


</html>