/* CSS Document */
.artifact-wrapper {
  min-height: 100%; }
  .artifact-wrapper #artifact-name {
    font-family: 'Balthazar'; }

#artifact-description-input {
  min-height: 200px !important; }

/*# sourceMappingURL=base.css.map */
