{% load static %}



<script type="text/babel">

class ToolDiceRoller extends React.Component {
    render() {
        const title = this.props.title;
        return (
            <li>
                <div className="row">
                    <h6 className="col s12">Dice Roller</h6>
                    <div id="dice-results-wrapper">
                        <div id="dice-results" className="col s12 valign-wrapper">
                        </div>
                    </div>
                    <div className="roll-result template chip palette-dark-5 grey-text text-lighten-2"></div>
                    <span className="roll-result-piece template"></span>
                    <div className="col s12">
                        <img src="{% static 'websrd/img/d20.png' %}" className="dice-button" id="d20-button"/>
                        <img src="{% static 'websrd/img/d4.png' %}" className="dice-button" id="d4-button"/>
                        <img src="{% static 'websrd/img/d6.png' %}" className="dice-button" id="d6-button"/>
                        <img src="{% static 'websrd/img/d8.png' %}" className="dice-button" id="d8-button"/>
                        <img src="{% static 'websrd/img/d10.png' %}" className="dice-button" id="d10-button"/>
                        <img src="{% static 'websrd/img/d12.png' %}" className="dice-button" id="d12-button"/>
                    </div>
                    <div className="input-field col s3 nomargin">
                        <input type="text" defaultValue="3" className="validate" id="dice-roller-count-input" name="DiceCount" />
                        <label className="active" htmlFor="dice-roller-count-input"># Dice</label>
                    </div>
                    <div className="col s1 valign-wrapper">
                        <span>d</span>
                    </div>
                    <div className="input-field col s3 nomargin">
                        <input type="text" defaultValue="6" className="validate" id="dice-roller-step-input" name="DiceStep" />
                        <label className="active" htmlFor="dice-roller-step-input">Step</label>
                    </div>
                    <div className="col s3 btn palette-dark-6 grey-text text-lighten-1 waves-effect waves-light" id="roll-dice-button">Roll</div>
                </div>
            </li>
        );
    }
}

    const toolDiceRoller = <ToolDiceRoller
        title="Account" />;

</script>