{% load static %}

<div id="reactright"></div>

<script type="text/babel">


    class Tool extends React.Component {
        render() {
            const title = this.props.title;
            const content = this.props.content;
            console.log('content', content);
            return (
               	<li key={title} >
               	    {this.props.children}
               	</li>
            );
        }
    }

    class NavRight extends React.Component {
        render() {
            let rows = [];

            this.props.items.forEach((item) => {
                rows.push(item);
            });

            return (
                <ul id="rightcol" className="side-nav fixed right-aligned palette-dark-3 grey-text text-lighten-3 z-depth-4 stateid">
                    {rows}
                </ul>
            );
        }
    }
</script>





{% if user.is_authenticated %}
    {% include 'websrd/tools/user.html' %}
{% endif %}
{% include 'websrd/tools/diceroller.html' %}





<script type="text/babel">
    const toolTest = <Tool title="TEST">
        <div className="test"> </div>
    </Tool>

    let TOOLS = [
        toolUser,
        toolDiceRoller,
        toolTest,
    ];
    const navRight = <NavRight
        items={TOOLS}
    />;

    ReactDOM.render(navRight, document.getElementById('reactright'));


    $('.collapsible').collapsible();
    $(".dropdown-button").dropdown();
</script>