{% load static %}

<script type="text/babel">

    class ToolUser extends React.Component {
        render() {
            const title = this.props.title;

            return (
                <li key={title}>
                    <div className="user-view row" key={title}>
                        <a href="#" className="col s4 center"><img className="circle" src="{{ gravatar }}" /></a>
                        <a className="col s8"><span className="white-text name">{{ user.username }}</span></a>
                    </div>
                </li>
            );
        }
    }


    const toolUser = <ToolUser
        title="Account"
    />;

</script>




