
{# Overrides blocks in head of base template #}
{% extends "websrd/react.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
	<title>{{ site.title }} - {{artifact.Name}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'artifacts/css/base.css' %}" >
	<script src="{% static 'artifacts/js/base.js' %}"></script>
{% endblock %}


{% block navactiveclass %}nav-artifacts{% endblock %}

{% block navdropdowns %}
	{{ block.super }}
	<ul id="artifact-functions" class="dropdown-content palette-dark-2 grey-text text-lighten-3 z-depth-3">
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/artifacts/{{artifact.id}}">View</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/artifacts/{{artifact.id}}/edit">Edit</a></li>
		<li><a class="waves-effect waves-light grey-text text-lighten-3" href="{{site.uri.public}}/artifacts/{{artifact.id}}/manage">Manage</a></li>
	</ul>
{% endblock %}

{% block navbuttons %}
	{{ block.super }}
{% endblock %}


{% block contentwithstyle %}
{% endblock %}




