
{% extends "artifacts/base.html" %}

{% load static %}
{% block meta %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'artifacts/css/edit.css' %}" >
	<script src="{% static 'artifacts/js/edit.js' %}"></script>
{% endblock %}

{% block navactiveclass %}nav-artifacts-edit{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
{% endblock %}



{% block navbuttons %}
	<li><a class="waves-effect waves-light" href="#!" id="edit-save-button"><i class="large material-icons">save</i></a></li>
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="artifact-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}






{% block contentwithstyle %}

	<div class="artifact-wrapper grey-text text-lighten-1">
	<h3></h3>
	<form id="artifact-form">{% csrf_token %}
	<input type="hidden" value="{{ artifact.id }}" name="id" />

	<div class="row">
		<div class="col s12 offset-m2 m8 offset-l4 l4 btn-large palette-dark-6 grey-text text-lighten-1 waves-effect waves-light" id="submit-artifact-button">Submit Item</div>
	</div>

	<div class="row">
		<div class="input-field col s6 l8">
			<input type="text" value="{{ artifact.Name }}" class="validate" id="artifact-name-input" name="Name" />
			<label class="active" for="artifact-name-input">Item Name</label>
		</div>

		<div class="input-field col s6 l4">
			<input type="text" value="{{ artifact.Type }}" class="validate" id="artifact-type-input" name="Type" />
			<label class="active" for="artifact-type-input">Item Type</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12 l2">
			<input type="text" value="{{ artifact.Aura }}" class="validate" id="artifact-aura-input" name="Aura" />
			<label class="active" for="artifact-aura-input">Aura</label>
		</div>

		<div class="input-field col s4 l1">
			<input type="text" value="{{ artifact.CL }}" class="validate" id="artifact-cl-input" name="CL" />
			<label class="active" for="artifact-cl-input">CL</label>
		</div>

		<div class="input-field col s4 l2">
			<input type="text" value="{{ artifact.Slot }}" class="validate" id="artifact-slot-input" name="Slot" />
			<label class="active" for="artifact-slot-input">Slot</label>
		</div>

		<div class="input-field col s4 l1">
			<input type="text" value="{{ artifact.Weight }}" class="validate" id="artifact-weight-input" name="Weight" />
			<label class="active" for="artifact-weight-input">Weight</label>
		</div>

		<p class="col s4 l2">
			<input type="checkbox" id="artifact-mythic" name="Mythic" value="1" {% if artifact.Mythic %}checked{% endif %}/>
			<label class="active" for="artifact-mythic">Mythic?</label>
		</p>

		<p class="col s4 l2">
			<input type="checkbox" id="artifact-artifact" name="Artifact" value="1" {% if artifact.Artifact %}checked{% endif %}/>
			<label class="active" for="artifact-artifact">Artifact?</label>
		</p>

		<div class="input-field col s4 l2">
			<input type="text" value="{{ artifact.Rarity }}" class="validate" id="artifact-rarity-input" name="Rarity" />
			<label class="active" for="artifact-rarity-input">Rarity</label>
		</div>
	</div>


	<div class="row divider grey darken-2"></div>


	<div class="row">
		<div class="input-field col s12 l4">
			<input type="text" value="{{ artifact.SpecialPower }}" class="validate" id="artifact-specialpower-input" name="SpecialPower" />
			<label class="active" for="artifact-specialpower-input">Special Power</label>
		</div>
	</div>

	<div class="row divider grey darken-2"></div>

	<h5>Statistics</h5>

	<div class="row">
		<div class="input-field col s4 l1">
			<input type="text" value="{{ artifact.Alignment }}" class="validate" id="artifact-alignment-input" name="Alignment" />
			<label class="active" for="artifact-alignment-input">Alignment</label>
		</div>

		<div class="input-field col offset-s4 s4 l1">
			<input type="number" value="{{ artifact.Ego }}" class="validate" id="artifact-ego-input" name="Ego" />
			<label class="active" for="artifact-ego-input">Ego</label>
		</div>

		<div class="input-field col s4 l1">
			<input type="number" value="{{ artifact.IntScore }}" class="validate" id="artifact-intscore-input" name="IntScore" />
			<label class="active" for="artifact-intscore-input">Int</label>
		</div>

		<div class="input-field col s4 l1">
			<input type="number" value="{{ artifact.WisScore }}" class="validate" id="artifact-wisscore-input" name="WisScore" />
			<label class="active" for="artifact-wisscore-input">Wis</label>
		</div>

		<div class="input-field col s4 l1">
			<input type="number" value="{{ artifact.ChaScore }}" class="validate" id="artifact-chascore-input" name="ChaScore" />
			<label class="active" for="artifact-chascore-input">Cha</label>
		</div>

		<div class="input-field col s6 l4">
			<input type="text" value="{{ artifact.Senses }}" class="validate" id="artifact-senses-input" name="Senses" />
			<label class="active" for="artifact-senses-input">Senses</label>
		</div>

		<div class="input-field col s6 l3">
			<input type="text" value="{{ artifact.Communication }}" class="validate" id="artifact-communication-input" name="Communication" />
			<label class="active" for="artifact-communication-input">Communication</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6 l5">
			<input type="text" value="{{ artifact.SpecialPurpose }}" class="validate" id="artifact-specialpurpose-input" name="SpecialPurpose" />
			<label class="active" for="artifact-specialpurpose-input">Special Purpose</label>
		</div>

		<div class="input-field col s12">
			<input type="text" value="{{ artifact.SpellLikeAbilities }}" class="validate" id="artifact-spellikeabilities-input" name="SpellLikeAbilities" />
			<label class="active" for="artifact-spellikeabilities-input">Spell-Like Abilities</label>
		</div>
	</div>


	<div class="row divider grey darken-2"></div>


	<h5>Descriptions</h5>
	<div class="row">
		<div class="input-field col s12">
			<input type="text" value="{{ artifact.Flavor }}" class="validate" id="artifact-flavor-input" name="Flavor" />
			<label class="active" for="artifact-flavor-input">Flavor Text</label>
		</div>

		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="artifact-description-input" class="materialize-textarea" name="Description">{{ artifact.Description }}</textarea>
			<label class="active" for="artifact-description-input">Description (markdown supported)</label>
		</div>
		{% endautoescape %}

		<div class="input-field col s12">
			<input type="text" value="{{ artifact.DescriptionShort }}" class="validate" id="artifact-descriptionshort-input" name="DescriptionShort" />
			<label class="active" for="artifact-descriptionshort-input">Short Description (max 255)</label>
		</div>
	</div>


	<div class="row divider grey darken-2"></div>


	<h5>Destruction</h5>
	<div class="row">
		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="artifact-destruction-input" class="materialize-textarea" name="Destruction">{{ artifact.Destruction }}</textarea>
			<label class="active" for="artifact-destruction-input">Destruction (markdown supported)</label>
		</div>
		{% endautoescape %}

		<div class="input-field col s12">
			<input type="text" value="{{ artifact.DestructionShort }}" class="validate" id="artifact-destructionshort-input" name="DestructionShort" />
			<label class="active" for="artifact-destructionshort-input">Short Destruction (max 255)</label>
		</div>
	</div>


	<div class="row divider grey darken-2"></div>


	<h5>Ramifications</h5>
	<div class="row">
		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="artifact-ramifications-input" class="materialize-textarea" name="Ramifications">{{ artifact.Ramifications }}</textarea>
			<label class="active" for="artifact-ramifications-input">Ramifications (markdown supported)</label>
		</div>
		{% endautoescape %}

		<div class="input-field col s12">
			<input type="text" value="{{ artifact.RamificationsShort }}" class="validate" id="artifact-ramificationsshort-input" name="RamificationsShort" />
			<label class="active" for="artifact-ramificationsshort-input">Short Ramifications (max 255)</label>
		</div>
	</div>


	<div class="row divider grey darken-2"></div>


	<h5>Crafting</h5>
	<div class="row">
		{% autoescape off %}
		<div class="input-field col s12">
			<textarea id="artifact-construction-input" class="materialize-textarea" name="Construction">{{ artifact.Construction }}</textarea>
			<label class="active" for="artifact-construction-input">Construction (markdown supported)</label>
		</div>
		{% endautoescape %}

		<div class="input-field col s12 l4">
			<input type="text" value="{{ artifact.ConstructionRequirements }}" class="validate" id="artifact-constructionrequirements-input" name="ConstructionRequirements" />
			<label class="active" for="artifact-constructionrequirements-input">Construction Requirements</label>
		</div>
		<div class="input-field col s6 l4">
			<input type="text" value="{{ artifact.Cost }}" class="validate" id="artifact-cost-input" name="Cost" />
			<label class="active" for="artifact-cost-input">Cost</label>
		</div>
		<div class="input-field col s6 l4">
			<input type="text" value="{{ artifact.Price }}" class="validate" id="artifact-price-input" name="Price" />
			<label class="active" for="artifact-price-input">Price (usually double)</label>
		</div>
	</div>


</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}






