
{% extends "artifacts/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-artifacts-my{% endblock %}


{% block contentwithstyle %}

	<table class="bordered grey-text text-lighten-1">
        <thead>
          <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Rarity</th>
          </tr>
        </thead>

        <tbody>
       		{% for artifact in artifacts %}
        	<tr>
				<td><a href="{{site.uri.public}}/artifacts/{{artifact.id}}" class="" >{{ artifact.Name }}</a></td>
          		<td>{{ artifact.Type }}</td>
          		<td>
          			{% if artifact.Mythic %}Mythic{% endif %}
					{% if artifact.ArtifactType %}{{ artifact.Type }}{% endif %}
					{% if artifact.Artifact %}artifact {% else %}item{% endif %}
       			</td>
        	</tr>
        	{% endfor %}
        </tbody>
      </table>

</div>
	<div style="width: 100%; height: 50px;"></div>
{% endblock %}




