
{% extends "artifacts/base.html" %}

{% load static %}

{% block meta %}
	{{ block.super }}
{% endblock %}

{% block navactiveclass %}nav-artifacts-view{% endblock %}


{% block navdropdowns %}
	{{ block.super }}
{% endblock %}



{% block navbuttons %}
	{{ block.super }}
	<li><a class="dropdown-button waves-effect waves-light " href="#!" data-activates="artifact-functions"><i class="large material-icons">mode_edit</i></a></li>
{% endblock %}
			
			

{% block contentwithstyle %}
	<div class="artifact-wrapper grey-text text-lighten-1">
	<h3 id="artifact-name">{{ artifact.Name }}</h3>


	<div class="row divider grey darken-2"></div>

	{% if artifact.Flavor %}
	<div class="section row">
		<div class="col s12 ">
			<p><i>{{ artifact.Flavor }}</i></p>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col s4 l3"><b>Aura:</b> {{ artifact.Aura }}</div>
		<div class="col s2 l1"><b>CL</b> {{ artifact.CL }}</div>
		<div class="col s3 l2"><b>Slot:</b> {{ artifact.Slot }}</div>
		<div class="col s3 l2"><b>Weight:</b> {{ artifact.Weight }}</div>
		{% if artifact.Mythic or artifact.Rarity or artifact.Artifact %}
		<div class="col s12 l3">
			<b>Rarity:</b>
			{% if artifact.Mythic %}Mythic{% endif %}
			{% if artifact.Rarity %}{{ artifact.Rarity }}{% endif %}
			{% if artifact.Artifact %}artifact{% endif %}
		</div>
		{% endif %}

	</div>

	{% if artifact.Type %}
	<div class="row">
		<div class="col s12">{{ artifact.Type }}</div>
	</div>
	{% endif %}

	{% if artifact.Price %}
	<div class="row">
		<div class="col s12"><b>Price:</b> {{ artifact.Price }}</div>
	</div>
	{% endif %}


	{% if artifact.SpecialPower %}
	<div class="row">
		<div class="col s12"><b>Special Power:</b> {{ artifact.SpecialPower }}</div>
	</div>
	{% endif %}


	{% if artifact.Alignment or artifact.SpellLikeAbilities %}
	<div class="row divider grey darken-2"></div>
	<h5>Statistics</h5>

	{% if artifact.Alignment %}
	<div class="row">
		<div class="col s4 l2"><b>Alignment:</b> {{ artifact.Alignment }}</div>
		<div class="col s4 offset-s4 l1"><b>Ego</b> {{ artifact.Ego }}</div>
		<div class="col s4 l1"><b>Int</b> {{ artifact.IntScore }}</div>
		<div class="col s4 l1"><b>Wis</b> {{ artifact.WisScore }}</div>
		<div class="col s4 l1"><b>Cha</b> {{ artifact.ChaScore }}</div>
	</div>

	<div class="row">
		<div class="col s6 l4"><b>Senses:</b> {{ artifact.Senses }}</div>
		<div class="col s6 l6"><b>Communication:</b> {{ artifact.Communication }}</div>
	</div>
	{% endif %}

	{% if artifact.SpecialPurpose %}
	<div class="row">
		<div class="col s6 l4">{% if artifact.SpecialPurpose %}<b>Special Purpose:</b> {{ artifact.SpecialPurpose }}{% endif %}</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col s12"><b>Spell-Like Abilities:</b> {{ artifact.SpellLikeAbilities }}</div>
	</div>

	{% endif %}


	{% if artifact.Description %}
	<div class="row divider grey darken-2"></div>

	<div class="row">
		{% autoescape off %}
		<div class="col s12">
			<h5>Description</h5>
			<div class="markdown">{{ artifact.Description }}</div>
		</div>
		{% endautoescape %}
	</div>
	{% endif %}


	{% if artifact.Construction or artifact.ConstructionRequirements %}
	<div class="row divider grey darken-2"></div>

	{% if artifact.Construction %}
	{% autoescape off %}
	<div class="col s12">
		<h5>Construction</h5>
		<p>{{ artifact.Construction }}</p>
	</div>
	{% endautoescape %}
	{% endif %}

	{% if artifact.ConstructionRequirements %}
	<div class="row">
		<div class="col s12 l8"><b>Requirements:</b> {{ artifact.ConstructionRequirements }}</div>
		<div class="col s12 l4"><b>Cost:</b> {{ artifact.Cost }}</div>
	</div>
	{% endif %}
	{% endif %}


	{% if artifact.Destruction %}
	<div class="row divider grey darken-2"></div>

	<div class="row">
		{% autoescape off %}
		<div class="col s12">
			<h5>Destruction</h5>
			<p>{{ artifact.Destruction }}</p>
		</div>
		{% endautoescape %}
	</div>
	{% endif %}

	{% if artifact.Ramifications %}
	<div class="row divider grey darken-2"></div>

	<div class="row">
		{% autoescape off %}
		<div class="col s12">
			<h5>Ramifications</h5>
			<p>{{ artifact.Ramifications }}</p>
		</div>
		{% endautoescape %}
	</div>
	{% endif %}

<div style="width: 100%; height: 50px;"></div>
{% endblock %}




